body {
    font-family: Helvetica, sans-serif;
}

h1, .h1-like {
    color: #444343;
    font-size: 26px;
    line-height: 34px;
}
p {
    color: #444343;
    font-weight: 200;
}
a {
    color: #2082D8;
    text-decoration: none;
}
blockquote {
    quotes: "“" "”" "‘" "’";
}