html {
    font-family: Helvetica, sans-serif;
    font-size: clamp(1em, 4vw, 18px);
}

h1 {
    color: #444343;
    font-size: min(max(2em, 5vw), 26px);
    line-height: 34px;
}

p {
    color: #444343;
    font-weight: 200;
}
a {
    color: #2082D8;
    text-decoration: none;
}
blockquote {
    quotes: "“" "”" "‘" "’";
}