:root {
    --main-color1: #2082D8;
    --main-color2: #61D66D;
}
.main-color1 {
    color: var(--main-color1);
}
.main-color2 {
    color: var(--main-color2);
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
    max-width: 1250px;
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}