.home-content--centered {
    max-width: var(--home-content-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.slogan__main-text {
    font-size: 5vw;
    font-weight: normal;
    line-height: 4vw;
    margin: initial;
}
.slogan__secondary-text {
    display: inline-block;
    max-width: 80%;
    margin-bottom: 8vw;
    line-height: 3vw;
}
.slogan__decor-video {
    width: 200px;
    height: 200px;
    z-index: -1;
}
.slogan__decor-video--top {
    align-self: flex-end;
}
.slogan__video {
    max-width: 1024px;
    min-height: 200px;
    /*height: auto;*/
    display: block;
}

.main-feature {

}
.main-features__item {
    display: flex;
}
.main-feature__title {
    font-size: 47px;
    line-height: 60px;
    margin: 0;
    font-weight: 400;
    color: #444343;
}
.main-feature__text {
    max-width: 550px;
    font-size: 20px;
    line-height: 31px;
}
.main-feature__feature-img {
    width: 270px;
    height: 270px;
    background-size: cover;
    align-self: center;
}

@media (min-width: 601px) and (max-width: 848px) {
    .slogan__decor-video--top {
        top: 14px;
        left: 82%;
        width: 175px;
    }
}
@media (max-width: 600px) {
    .slogan__decor-video--top {
        margin: 10px auto 20px;
    }
    .slogan__secondary-text {
        line-height: 4.5vw;
    }
}
@media (min-width: 1000px) {
    .slogan__secondary-text {
        font-size: 1.3vw;
    }
}
.slogan__video {
    height: 528px;
    width: 1024px;
    max-width: 90vw;
    max-height: 50vw;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}
.footer__list {
    padding: 0;
}
.footer__item {
    list-style: none;
    height: 2em;
}
.footer__link {
    text-decoration: underline;
    padding: 1em 0;
}