<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Buy</title>
				<link rel="stylesheet" href="../../css/styles.css" />

	</head>
	<body>
		<div class="wrapper">
			<%= require('html-loader!../../partials/header.html').default %> <%=
			require('html-loader!../../partials/headerPeaksel.html').default %>
			<main class="try-it page-body" data-page="try-it" data-context="peaksel">
				<div class="container">
					<section class="job__type">
						<img src="img/Illustration-07.png" alt="call" style="height: 234px" />
						<div class="job__info job__info--shrink">
							<p>
								If you want to play with our Demo Instance, contact us and we'll
								send the URL and credentials:
								<a href="mailto:peaksel@elsci.io">peaksel@elsci.io</a>
							</p>
						</div>
					</section>
					<div class="hcentered" style="margin-top: 50px">
						<h1>On-premise</h1>
					</div>
					<div class="billing-plans">
						<div class="billing-plan">
							<div class="billing-plan__title">
								<h3>Academic</h3>
								<span>For non-profit use</span>
							</div>
							<div class="greyarea">
								$<span class="hugetext">0</span> per user/year
							</div>
						</div>
						<div class="billing-plan">
							<div class="billing-plan__title">
								<h3>Small business</h3>
								<span>Per-user billing</span>
							</div>
							<div class="greyarea">
								$<span class="hugetext">500</span> per user/year
							</div>
						</div>
						<div class="billing-plan">
							<div class="billing-plan__title">
								<h3>Enterprise</h3>
								<span>Unlimited users, special offers</span>
							</div>
							<div class="greyarea" style="height: 75px">
								<a
									data-email-btn
									style="
										height: 29px;
										border: 1px solid;
										border-radius: 2px;
										padding: 10px;
										position: relative;
										top: 20px;
									"
									href="mailto:peaksel@elsci.io"
									>Contact us</a
								>
							</div>
						</div>
					</div>
		
					<div class="hcentered">
						<h1>SaaS</h1>
					</div>
					<div class="billing-plans">
						<div class="billing-plan">
							<div class="billing-plan__title">
								<h3>SaaS</h3>
								<span>Hosted by us, per-GB billing</span>
							</div>
							<div class="greyarea" style="height: 75px">
								<a
									data-email-btn
									style="
										height: 29px;
										border: 1px solid;
										border-radius: 2px;
										padding: 10px;
										position: relative;
										top: 20px;
									"
									href="mailto:peaksel@elsci.io"
									>Contact us</a
								>
							</div>
						</div>
					</div>
				</div>
			</main>
	
			<%= require('html-loader!../../partials/footer.html').default %>
		</div>
		<script src="../../js/script.js"></script>

	</body>
	<script type="text/javascript">
		let emailBtns = document.querySelectorAll("[data-email-btn]");
		for (let e of emailBtns) {
			e.addEventListener("click", (event) => {
				event.target.textContent = "peaksel@elsci.io";
			});
		}
	</script>
</html>
