<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Contact Us</title>
		<link rel="stylesheet" href="../css/styles.css" />
	</head>
	<body>
		<div class="wrapper">
			<%= require('html-loader!../../partials/header.html').default %> <%=
			require('html-loader!../../partials/headerPeaksel.html').default %>
			<main
				class="contact page-body"
				data-page="documentation"
				data-context="peaksel">
				<div class="container">
					<div class="job__type">
						<img
							src="img/Illustration-07.png"
							alt="call"
							style="height: 234px" />
						<div class="contact-body">
							<p>Want to get access to the demo instance? Have questions?</p>
							<ul class="contact-list">
								<li>
									Drop us an email:
									<a href="mailto:peaksel@elsci.io">peaksel@elsci.io</a>
								</li>
								<li>
									Or
									<a href="https://peaksel.youcanbook.me/" target="_blank"
										>book a meeting</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</main>
			<%= require('html-loader!../../partials/footer.html').default %>
			<script src="../../js/script.js"></script>
		</div>
	</body>
</html>
