<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Documentation</title>
		<link rel="stylesheet" href="../../css/styles.css" />
	</head>
	<body>
		<div class="wrapper">
			<%= require('html-loader!../../partials/header.html').default %> <%=
			require('html-loader!../../partials/headerPeaksel.html').default %>
			<main
				class="documentation page-body"
				data-page="documentation"
				data-context="peaksel">
				<section>
					<div class="container">
						<h1>Documentation</h1>
						<ul class="documentation-list">
							<li class="documentation-item">
								<a target="_blank" href="https://youtu.be/owGaIn9PnGA"
									>Getting Started (video)</a
								>
							</li>
							<li class="documentation-item">
								<a
									target="_blank"
									href="https://github.com/elsci-io/public/discussions/1"
									>Installation Guide</a
								>
							</li>
							<li class="documentation-item">
								<a href="./docs/vocabulary.html"
									>Vocabulary, Abbreviations, Definitions</a
								>
							</li>
						</ul>
					</div>
				</section>

				<section>
					<div class="container">
						<h3>Our articles</h3>
						<ul class="documentation-list">
							<li class="documentation-item">
								<a href="./article/mass-spec.html"
									>Mass Spectrometry: types, modes, data processing</a
								>
							</li>
							<li class="documentation-item">
								<a href="./article/wl-extraction.html"
									>DAD/PDA: Extracted and Reference wavelengths</a
								>
							</li>
							<li class="documentation-item">
								<a href="./article/hte-qc-peaks.html"
									>HTE: speed up analysis with proper visualizations</a
								>
							</li>
						</ul>
					</div>
				</section>

				<section>
					<div class="container">
						<h3>Batches, Injections, chromatograms</h3>
						<ul class="documentation-list">
							<li class="documentation-item">
								<a href="docs/peaks.html"
									>Peaks: automatic detection, integration, manual editing</a
								>
							</li>
							<li class="documentation-item">
								<a href="docs/align-detectors.html">Aligning detectors</a>
							</li>
							<li class="documentation-item">
								<a href="docs/zoom.html">Zooming</a>
							</li>
							<li class="documentation-item">
								<a href="docs/batch-navigation.html">Batch: navigation, QC</a>
							</li>
							<li class="documentation-item">
								<a href="docs/reports.html">Reports</a>
							</li>
						</ul>
					</div>
				</section>

				<section>
					<div class="container">
						<h3>Chemical Structures, EICs</h3>
						<ul class="documentation-list">
							<li class="documentation-item">
								<a href="docs/add-substance.html"
									>Substances: upload structures, create EIC's</a
								>
							</li>
							<li class="documentation-item">
								<a href="docs/waters-structures.html"
									>Parsing structures from Waters RAW</a
								>
							</li>
							<li class="documentation-item">
								Create
								<a target="_blank" href="https://youtu.be/FtpFpazNnWw"
									>Transient Traces</a
								>
								by clicking on spectra
							</li>
						</ul>
					</div>
				</section>

				<section>
					<div class="container">
						<h3>Visualizations</h3>
						<ul class="documentation-list">
							<li class="documentation-item">
								<a
									href="https://github.com/elsci-io/public/blob/master/docs/expression-language.md"
									target="_blank"
									>Custom columns: Expression Language</a
								>
							</li>
							<li class="documentation-item">
								<a href="docs/vis-templates.html">Templates</a>
							</li>
							<li class="documentation-item">
								<a target="_blank" href="https://youtu.be/Itb5D5Vh-a0"
									>Determine large coelutions using BPM</a
								>
							</li>
						</ul>
					</div>
				</section>

				<section>
					<div class="container">
						<h3>Importing raw data</h3>
						<ul class="documentation-list">
							<li class="documentation-item">
								<a href="docs/import-automation.html"
									>Automatic import from vendor folders</a
								>
							</li>
							<li class="documentation-item">
								<a href="docs/import-manual-upload.html">Manual Upload</a>
							</li>
						</ul>
					</div>
				</section>
			</main>

			<%= require('html-loader!../../partials/footer.html').default %>
		</div>
		<script src="../../js/script.js"></script>
	</body>
</html>
