<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Peaksel - High-Throughput Analysis</title>
		<link rel="stylesheet" href="../../css/00_global.css" />
		<link rel="stylesheet" href="../../css/01_helpers.css" />
		<link rel="stylesheet" href="../../css/02_header.css" />
		<link rel="stylesheet" href="../../css/02_components.css" />
		<link rel="stylesheet" href="../../css/02_quotation.css" />
		<link rel="stylesheet" href="../../css/styles.css" />
	</head>
	<body>
		<%= require('html-loader!../../partials/header.html').default %>
		<%= require('html-loader!../../partials/headerPeaksel.html').default %>
		<main data-page="overview" data-context="peaksel">
			<div class="wrapper">
				<section class="peaksel-hero">
					<div class="container">
						<div class="peaksel-hero__body">
							<div class="peaksel-hero__animation">
								<video
									height="190"
									aria-hidden="true"
									class="slogan__decor-video slogan__decor-video--top"
									autoplay
									loop
									muted
									playsinline
									src="img/plate.mp4?v=1"></video>
							</div>
							<!--Video quality is too low-->
							<!--<video aria-hidden="true" class="motion quad-motion" autoplay loop muted playsinline src="img/quad.mp4?v=1" width="190vw"></video>-->
							<div class="peaksel-hero__text-block">
								<h1 class="peaksel-hero__title">Minable analytical data</h1>
								<p class="peaksel-hero__subtitle">
									Speed up analytical workflows, centralize data, simplify
									access
								</p>
							</div>
						</div>
					</div>
				</section>
				<section>
					<div class="container">
						<figure class="quotation">
							<blockquote class="quotation__text">
								Have to say I'm grateful that Peaksel has greatly improved our
								efficiency of HTE analysis recently!
							</blockquote>
							<figcaption class="quotation__author">
								<p>
									— Shimin Su, the
									<a href="https://www.x-mol.com/groups/Liao_Kuangbiao?lang=en"
										>Liao Group</a
									>
									at Guangzhou National Laboratory, China
								</p>
							</figcaption>
						</figure>
					</div>
				</section>
				<section class="video-section">
					<div class="container">
						<div class="video-body">
							<h2 class="visuallyhidden">Demo video</h2>
							<iframe
								class="slogan__video"
								src="https://www.youtube.com/embed/q5XsihtzP5w"
								frameborder="0"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
				</section>
				<section class="advantages">
					<div class="container">
						<div class="advantages-body">
							<h2 class="visuallyhidden">
								Problems that can be solved with Peaksel
							</h2>
							<ul class="advantages-list">
								<li class="advantages-item">
									<div class="advantages-card">
										<div class="advantages-card__body">
											<h3 class="advantages-card__title">
												Keep up with synthesis
											</h3>
											<p class="advantages-card__description">
												High Throughput Experimentation (HTE) and High
												Throughput Screening (HTS) generate huge number of
												samples. Analyzing them using traditional tools takes
												hours if not days. Peaksel's batch-level QC, quick
												navigation and batch editing drastically shorten this
												time, sometimes to minutes »
												<a href="hte-qc-peaks.html">Read more</a>
											</p>
										</div>
										<div class="advantages-card__img">
											<img
												src="img/feature__plate-w-liquid-handler.png"
												alt="" />
										</div>
									</div>
								</li>
								<li class="advantages-item">
									<div class="advantages-card reverse">
										<div class="advantages-card__body">
											<h3 class="advantages-card__title">
												Data at your fingertips
											</h3>
											<p class="advantages-card__description">
												Peaksel provides a searchable database which lets you
												quickly get access to historical data. Not only to you,
												but to anyone on your team.
											</p>
										</div>
										<div class="advantages-card__img">
											<img src="img/feature__db-search.png" alt="" />
										</div>
									</div>
								</li>
								<li class="advantages-item">
									<div class="advantages-card">
										<div class="advantages-card__body">
											<h3 class="advantages-card__title">
												One tool to rule them all
											</h3>
											<p class="advantages-card__description">
												Keep terabytes of chromatographic data from all your
												vendors (Waters MassLynx, Agilent Chemstation/OpenLab,
												Bruker HyStar, Shimadzu LabSolutions, etc) and all
												detector types (Mass Spec, UV, ELSD and so on) in a
												single database. Use web browser to analyze, modify and
												share them with colleagues.
											</p>
										</div>
										<div class="advantages-card__img">
											<img
												src="img/feature__many-instruments.png"
												alt="" />
										</div>
									</div>
								</li>
								<li class="advantages-item">
									<div class="advantages-card reverse">
										<div class="advantages-card__body">
											<h3 class="advantages-card__title">
												<i>In situ</i> data analysis
											</h3>
											<p class="advantages-card__description">
												You don't have to export data to analyze it elsewhere
												anymore - Peaksel provides native data analysis
												capabilities. Flexible data tables, beautiful
												visualizations, statistics, custom formulae, you name
												it. But if you do need to export - you can do this
												either manually (CSV) or programmatically via REST API.
											</p>
										</div>
										<div class="advantages-card__img">
											<img src="img/feature__data-analysis.png" alt="" />
										</div>
									</div>
								</li>
								<li class="advantages-item">
									<div class="advantages-card">
										<div class="advantages-card__body">
											<h3 class="advantages-card__title">
												Share data externally
											</h3>
											<p class="advantages-card__description">
												Set up a communication channel to exchange real data
												between companies (e.g. between CRO/CMO and their
												clients) instead of exchanging PDF & Excel files.
											</p>
										</div>
										<div class="advantages-card__img">
											<img src="img/feature__cro-cmo--alpha.png" alt="" />
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</main>
		<%= require('html-loader!../../partials/footer.html').default %>
		<script src="js/app.js"></script>
		<script src="../../js/script.js"></script>
	</body>
</html>
