<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Molevent</title>
  <link rel="stylesheet" href="../../css/00_global.css"/>
  <link rel="stylesheet" href="../../css/01_helpers.css"/>
  <link rel="stylesheet" href="../../css/02_header.css"/>
  <link rel="stylesheet" href="../../css/02_footer.css"/>
  <link rel="stylesheet" href="../../css/02_peaksel-page.css"/>
</head>
<body>
<div class="wrapper">
  <%= require('html-loader!../../partials/header.html').default %> <%=
  require('html-loader!../../partials/headerMolevent.html').default %>
  <main data-context="molevent">
    <section class="peaksel-hero">
      <div class="container">
        <div class="peaksel-hero__text-block">
          <h1 class="peaksel-hero__title">Tracking molecules</h1>
          <p class="peaksel-hero__subtitle">All the "who, when, where" in a single place</p>
        </div>
      </div>
    </section>
    <section class="advantages">
      <div class="container">
        <div class="advantages-body">
          <h2 class="visuallyhidden">Problems that can be solved with Molevent</h2>
          <ul class="advantages-list">
            <li class="advantages-item">
              <div class="advantages-card">
                <div class="advantages-card__body">
                  <h3 class="advantages-card__title">Visibility across teams</h3>
                  <p class="advantages-card__description">
                    Sketched? Synthesized? Purified? Automatically feed all the events into MolEvent and learn about
                    anything that happens to your molecules across your whole organization. Read events in your ELN and
                    create alerts if someone already worked with the same compounds.
                  </p>
                </div>
                <div class="advantages-card__img">
                  <img src="/img/binocular-2-people.png"/>
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-card">
                <div class="advantages-card__body">
                  <h3 class="advantages-card__title">Virtual Compounds</h3>
                  <p class="advantages-card__description">
                    Register IDs for your Virtual Compounds, share those instead of using pictures or
                    chemical files. Write your own ID generation algorithms if need to.</p>
                </div>
                <div class="advantages-card__img">
                  <img src="/img/benzene-virtual-id.png"/>
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-card">
                <div class="advantages-card__body">
                  <h3 class="advantages-card__title">Mine the data</h3>
                  <p class="advantages-card__description">
                    Get insights from the organization, project, team-wide reports using data
                    gathered from all your systems.</p>
                </div>
                <div class="advantages-card__img">
                  <img src="/img/scatter-plot.png"/>
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-card">
                <div class="advantages-card__body">
                  <h3 class="advantages-card__title">Event sourcing</h3>
                  <p class="advantages-card__description">
                    Instead of integrating every software with every other software, use
                    MolEvent as a single source of all events from all systems.</p>
                </div>
                <div class="advantages-card__img">
                  <img src="/img/db-with-2-apps.png"/>
                </div>
              </div>
            </li>
            <li class="advantages-item">
              <div class="advantages-card">
                <div class="advantages-card__body">
                  <h3 class="advantages-card__title">Use existing connectors</h3>
                  <p class="advantages-card__description">
                    We have already written some connectors to 3d-party software. Let us know which
                    software you need to gather data from.</p>
                </div>
                <div class="advantages-card__img">
                  <img src="/img/sockets.png"/>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
  <%= require('html-loader!../../partials/footer.html').default %>
</div>
<script src="../../js/script.js"></script>
</body>
</html>
