<header class="header-elsci">
	<div class="container">
		<div class="header-elsci-row">
			<a class="header-elsci__logo" href="/"
				><img class="header-elsci__img" src="../img/logo/logo.png"
			/></a>
			<!-- <a class="header-elsci__logo-peaksel" href="/">PEAK<span>SEL</span></a> -->
			<div>
				<div class="header-elsci__menu-burger">
					<span></span>
				</div>
				<nav>
					<ul class="header-elsci__navigation">
						<li>
							<ul class="navigation-list">
								<li class="header__link" data-page="business-model">
									<a href="business-model.html">Our business model</a>
								</li>
								<li class="header__link" data-page="about">
									<a href="about.html">About us</a>
								</li>
							</ul>
						</li>
						<li class="header-elsci__navigation--peaksel">
							<ul class="navigation-list">
								<li class="header__link" data-page="overview">
									<a href="#">Overview</a>
								</li>
								<li class="header__link" data-page="documentation">
									<a href="#">Documentation</a>
								</li>
								<li class="header__link" data-page="try-it">
									<a href="#">Try it</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>