<header class="header-elsci">
	<div class="container">
		<div class="header-elsci__body">
			<div class="header-elsci__logo">
				<a href="/" class="header-elsci__logo--main">
					<img src="../img/logo/logo.png" alt="" />
				</a>
				<a href="/" class="header-elsci__logo--white">
					<img src="../img/logo/LOGO_ELSCI_white.png" alt="" />
				</a>
			</div>
			<a class="header-elsci__logo-peaksel" href="/">PEAK<span>SEL</span></a>
			<div class="header__burger">
				<span></span>
			</div>
			<nav class="header-elsci__navigation">
				<ul class="header__list">
					<li>
						<ul class="navigation-list navigation-list--peaksel">
							<li class="navigation-list__item">
								<a class="header__link" href="/peaksel/index.html">Overview</a>
							</li>
							<li class="navigation-list__item">
								<a class="header__link" href="/peaksel/docs.html">Documentation</a>
							</li>
							<li class="navigation-list__item">
								<a class="header__link" href="/peaksel/buy.html">Try it</a>
							</li>
						</ul>
					</li>
					<li>
						<ul class="navigation-list">
							<li class="navigation-list__item" data-page="our-products">
								<a class="header__link" href="/index.html#our-products"
									>Our products</a
								>
							</li>
							<li class="navigation-list__item" data-page="business-model">
								<a class="header__link" href="/business-model.html"
									>Business model</a
								>
							</li>
							<li class="navigation-list__item" data-page="about">
								<a class="header__link" href="/about.html">About us</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
