<header class="header-peaksel">
	<div class="container">
		<div class="header-peaksel__body">
			<a class="header-peaksel__logo main-color1" href="/"
				>PEAK<span>SEL</span></a
			>
			<div>
				<div class="header-peaksel__menu-burger">
					<span></span>
				</div>
				<nav>
					<ul class="header-peaksel__navigation">
						<li class="header__link" data-page="overview">
							<a href="#">Overview</a>
						</li>
						<li class="header__link" data-page="documentation">
							<a href="#">Documentation</a>
						</li>
						<li class="header__link" data-page="try-it">
							<a href="#">Try it</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>