<header class="header header-crystaline">
	<div class="container">
		<div class="header__body">
			<a class="header__logo" href="/crystaline/index.html">
				Crysta<span class="crystaline-color2">Line</span>
			</a>
			<div>
				<nav>
					<ul class="header__navigation">
						<li class="navigation-list__item" data-page="overview">
							<a class="header__link" href="/crystaline/index.html">Overview</a>
						</li>
						<li class="navigation-list__item" data-page="buy">
							<a class="header__link" href="/crystaline/buy.html">Try it</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
