<header class="header-elsci">
	<div class="container">
		<div class="header-elsci__body">
			<a href="/" class="header-elsci__logo">
				<img src="../img/logo/logo.png" alt="" />
			</a>
			<div class="header__burger">
				<span></span>
			</div>
			<nav class="header-elsci__navigation">
				<ul class="header__list">
					<li>
						<ul class="navigation-list navigation-list--peaksel">
							<li class="navigation-list__item" data-page="overview">
								<a class="header__link" href="#">Overview</a>
							</li>
							<li class="navigation-list__item" data-page="documentation">
								<a class="header__link" href="#">Documentation</a>
							</li>
							<li class="navigation-list__item" data-page="try-it">
								<a class="header__link" href="#">Try it</a>
							</li>
						</ul>
					</li>
					<li>
						<ul class="navigation-list">
							<li class="navigation-list__item" data-page="business-model">
								<a class="header__link" href="business-model.html"
									>Our business model</a
								>
							</li>
							<li class="navigation-list__item" data-page="about">
								<a class="header__link" href="about.html">About us</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
