.page-body {
	padding: 4rem 0;
}

.page-content {
	max-width: 990px;
	margin: 0 auto;
}
.peaksel-color2 {
	color: var(--main-color2);
}
.molevent-color2 {
	color: var(--main-color2-molevent);
}
.crystaline-color2 {
	color: var(--main-color2-crystaline);
}

@media (max-width: 794px) {
	.page-body {
		padding-top: 6rem;
	}
}

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.video-box {
	max-width: 100%;
	margin: 2rem auto 4rem;
	position: relative;
	aspect-ratio: 16 / 9;
	border: var(--text-color) solid 1px;
}

.video-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video,
.video {
	max-width: 100%;
}

.page-title {
	text-align: center;
	font-size: clamp(2.375rem, 3vw + 1.25rem, 3rem);
	letter-spacing: 0.3px;
	color: var(--text-color);
	font-weight: 400;
	margin: 1.5rem 1rem;
}

.page-description {
	text-align: center;
	padding: 1.5rem;
}

.page-hero__body {
	min-height: 70vh;
	padding-bottom: 8rem;
	padding-top: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.page-hero__animation {
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.page-hero__text-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.page-hero__title {
	font-size: clamp(1.5em, 1.5em + 2vw, 5vw);
	margin-bottom: 1rem;
}

.page-hero__subtitle {
	font-size: clamp(1.2em, 1.2em + 2vw, 2vw);
	text-align: center;
	margin: 0.5rem;
}

@media (max-width: 825px) {
	.page-hero__body {
		padding: 4rem 0;
	}
}

article img {
	border: var(--text-color) solid 1px;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.external-link {
	height: 12px;
	width: 12px;
	fill: var(--main-color1);
	margin-right: 2px;
}

.nowrap {
	white-space: nowrap;
}