.advantages {
    background: var(--background-color2);
    padding: 2rem 0;
}

.advantages__list-item {
    padding: 2rem 0;
}

.advantages-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.advantages-card__body {
    padding: 0 1rem;
    max-width: 700px;
    -webkit-box-flex: 60%;
    -ms-flex: 60%;
    flex: 60%;
}

.advantages-card__title {
    font-size: clamp(1.5rem, 1.5rem + 2vw, 3rem);
    line-height: 60px;
    margin: 0;
    font-weight: 400;
}

.advantages-card__img {
    height: 270px;
    width: 380px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 876px) {
    .advantages-card {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .advantages-card__img {
        max-width: 380px;
    }
    .advantages-card__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
    .advantages__list-item {
        padding: 1rem 0;
    }
}

.advantages-card__img--plate-w-liquid-handler {
    background-image: url("../img/plate-w-liquid-handler.png");
}

.advantages-card__img--db-search{
    background-image: url("../img/db-search.png");
}

.advantages-card__img--many-instruments{
    background-image: url("../img/many-instruments.png");
}

.advantages-card__img--scatter-plot{
    background-image: url("../img/scatter-plot.png");
}

.advantages-card__img--cro-cmo{
    background-image: url("../img/cro-cmo--alpha.png");
}

.advantages-card__img--binocular {
    background-image: url("../img/binocular-2-people.png");
}

.advantages-card__img--benzene-virtual {
    background-image: url("../img/benzene-virtual-id.png");
}

.advantages-card__img--db{
    background-image: url("../img/db-with-2-apps.png");
}

.advantages-card__img--sockets{
    background-image: url("../img/sockets.png");
}