.about__body {
	padding: 6rem 0;
}

.about__list-item {
	padding: 0.75rem;
}

.job__info p {
	margin: 0;
}

@media (max-width: 992px) {
	.job__info--shrink {
		text-align: center;
		padding: 0.5rem;
	}
}

.job__type {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.job__type img {
	display: block;
	width: 100%;
	max-width: 330px;
}

.job__info {
	font-size: 20px;
	line-height: 31px;
	width: 100%;
}

@media all and (min-width: 965px) {
	.job__type img {
		margin-right: 55px;
	}
	.job__info {
		width: 560px;
	}
}

.job__info p {
	margin: 0;
}

.job__info--shrink {
	width: auto;
	max-width: 550px;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}