/*     DOCUMENTATION   */

.documentation {
	padding: 2rem 0 4rem 0;
}

.documentation__list {
	padding-left: 40px;
}

.documentation__list-item {
	list-style: initial;
	font-size: 20px;
}

@media (max-width: 794px) {
	.documentation {
		padding-top: 6rem;
	}
}

/*        VOCABULARY    */

.vocabulary__description {
	max-width: 700px;
	margin: 1rem auto;
	text-align: center;
	font-style: italic;
	letter-spacing: 0.2px;
}

/*       ZOOM       */

.zoom-body {
	max-width: 1030px;
	margin: 0 auto;
}

/*        add-substance     */

.add-substance ul {
	line-height: 1.7;
	padding-left: 40px;
}

.add-substance__item {
	list-style: initial;
}

.add-substance__sub-item {
	list-style: circle;
}

/*         waters-structures   */

.waters-structures__scroll-block {
	overflow: scroll;
}

.waters-structures__table {
	max-width: 100%;
	overflow-x: scroll;
}

/*         vis-templates       */

.page-paragraph--margin {
	margin: 2rem 0;
}

/*          import-automation       */

.import-automation ol li {
	list-style: decimal;
}

.import-automation ul {
	margin: 40px;
}

.import-automation ul li {
	list-style: initial;
}
