.merch-row {
    padding: 6rem 0 4rem;
}

.merch-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.merch-list__item {
    flex: 1 1 auto;
    margin: 2rem 1rem;
}

.merch-card {
    position: relative;
}

.merch-card__image {
    width: 300px;
    height: 350px;
    display: block;
    margin: 0 auto;
    cursor: zoom-in;
}

.merch-card__description {
    text-align: center;
    font-size: 2rem;
}

.merch-card__description--color {
    font-size: 1rem;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.popup-content {
    height: 100vh;
    padding: 2rem;
    overflow: hidden;
    background-color: transparent;
    border: none;
    outline: none;
    margin: auto;
}

.popup-image {
    max-width: 100%;
    max-height: 100%;
    cursor: zoom-out;
}
