.products-body {
	display: flex;
	min-height: calc(100vh - 4rem);
	justify-content: center;
	flex-direction: column;
	margin-bottom: 4rem;
	padding-bottom: 4rem;
}

.products-list {
	display: flex;
	justify-content: center;
	margin: 0 auto;
}

.products-item {
	padding: 0.5rem;
	flex: 0 1 auto;
	min-width: 33.33333%;
}

.product-card {
	padding: 1rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #19191c33;
}

.product-card:hover {
	cursor: pointer;
	border: 1px solid #19191c;
}

.product-card__tag {
	color: gray;
	text-align: left;
	font-size: 0.875rem;
	margin-bottom: 1.5rem;
}

.product-card__title {
	color: #2082d8;
	font-size: clamp(2.5rem, 1.25rem + 2vw, 3rem);
	margin: 2rem 0 0.75rem 0;
	font-weight: 500;
}

.product-card__title span {
	color: #61d66d;
}

.product-card__description {
	line-height: 1.7;
	flex-grow: 1;
	margin: 0.5rem 0;
	color: var(--text-color);
}

@media (max-width: 992px) {
	.products-list {
		flex-wrap: wrap;
		max-width: 600px;
	}
	.products-item {
		padding: 0.5rem;
		flex: 1 1 100%;
	}
	.product-card__title {
		margin: 0.5rem 0;
	}
}
