.products-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-bottom: 4rem;
}

.products-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}

.products-item {
	padding: 1rem; /*     0.5 rem for 3 products   */
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	/* min-width: 33.33333%;  -----  for 3 products */
	width: 50%;
}

.product-card {
	padding: 1rem;
	border-radius: 0.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: 100%;
	border: 1px solid #19191c33;
}

.product-card:hover {
	cursor: pointer;
	border: 1px solid #19191c;
}

.product-card__tag {
	color: gray;
	text-align: left;
	font-size: 0.875rem;
	margin-bottom: 1.5rem;
}
.product-card__title--pic {
	// for SVGs, we can't assign height to the text-based titles because their text can still wrap
	// to the next line, while all other elements will still think that it's height is 3rem and will
	// overlay with the h3 text.
	height: 3rem;
}
.product-card__title {
	color: var(--main-color1);
	font-size: clamp(2.5rem, 1.25rem + 2vw, 3rem);
	font-weight: 500;
	margin: 0;
	// for titles that have no pics - just text
	line-height: 3rem;
}
.product-card__title--black {
	color: var(--text-color);
	opacity: .9;
}

.product-card__description {
	line-height: 1.7;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin: 0.5rem 0;
	color: var(--text-color);
	opacity: 1;
	-webkit-transition: opacity 5s ease;
	-o-transition: opacity 5s ease;
	transition: opacity 5s ease;
	position: relative;
	min-height: 62px;
}

.product-card__description--text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	color: var(--text-color);
}

@media (max-width: 900px) {  /*   992 for 3 products  */
	.products-list {
		max-width: 600px;
	}
	.products-item {
		padding: 0.5rem 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 1 100%;
		flex: 1 1 100%;
	}
}