blockquote {
    quotes: "“" "”" "‘" "’";
    color: var(--text-color);
    font-weight: 200;
}

.quotation {
    padding: .05vw 2vw;
    margin: 5vh 0 5vh 0;
    background-color: var(--background-color2);
    border-radius: 15px;
}

.quotation::before, .quotation::after {
    content: "";
    display: block;
    width: 10em;
    background: var(--main-color1);
    height: 1px;
    margin: 30px auto;
}

.quotation__text {
    margin: 0;
    -webkit-margin-start: 0;
    margin-inline-start: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    font-size: clamp(1em, 1em + 2vw, 1.4vw);
    text-align: center;
}

.quotation__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-style: italic;
    font-size: clamp(.5em, .5em + 1vw, .8em);
    padding-top: 1em;
}

.quotation__author a {
    margin: 0 .1em;
}