@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,200;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,700&display=swap");
:root {
	--gradient-blue: radial-gradient(
		circle at 12.3% 19.3%,
		rgb(30 80 181) 0%,
		rgb(60, 144, 228) 100.2%
	);
}
* {
	box-sizing: border-box;
}

body {
	height: 100%;
	color: #444343;
	font-family: "Rubik", sans-serif;
	font-size: clamp(1em, 4vw, 18px);
	font-weight: 300;
	margin: 0;
	min-width: 300px;
}
html {
	height: 100%;
}
main {
	flex: 1 1 auto;
}
a {
	text-decoration: none;
	color: inherit;
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.list-of-three {
	display: flex;;
}
.list-of-three__item {
	flex: 0 1 auto;
	min-width: 33.33333%;
}
@media (max-width: 768px){
.list-of-three {
	flex-wrap: wrap;
}
.list-of-three__item {
	flex: 1 1 100%;
}}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

/*            HEADER           */

.header-elsci {
	height: 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-elsci__img {
	height: 50px;
}
.header-elsci__navigation {
	display: flex;
	justify-content: space-between;
	font-size: 1rem;
}
.header-elsci__link:not(:last-child) {
	margin-right: 1.25rem;
}
@media (max-width: 768px) {
	.header-elsci__menu-burger {
		display: block;
		position: relative;
		width: 1.875rem;
		height: 1.125rem;
		cursor: pointer;
	}
	.header-elsci__menu-burger::before,
	.header-elsci__menu-burger::after,
	.header-elsci__menu-burger span {
		content: "";
		position: absolute;
		width: 100%;
		background: #2082d8;
		height: 0.125rem;
		left: 0;
		box-sizing: content-box;
		transition: all 0.3s ease 0s;
	}
	.header-elsci__menu-burger::before {
		top: 0;
	}
	.header-elsci__menu-burger::after {
		bottom: 0;
	}
	.header-elsci__menu-burger span {
		top: 0.5rem;
	}
	.header-elsci__menu-burger.active::before {
		transform: rotate(45deg);
		top: 0.5rem;
	}
	.header-elsci__menu-burger.active::after {
		transform: rotate(-45deg);
		bottom: 0.5rem;
	}
	.header-elsci__menu-burger.active span {
		display: none;
	}
	.header-elsci__navigation {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		background: #2082d8;
		color: white;
		flex-direction: column;
		justify-content: center;
		padding: 0.5rem;
	}
	.header-elsci__navigation.active {
		top: 4.5rem;
		font-size: 1.5rem;
	}
	.header-elsci__link {
		margin: 0.5rem;
	}
}

/*           PRODUCTS        */
.products {
	margin-bottom: 3rem;
}

.products-title {
	text-align: center;
	font-size: 3rem;
	letter-spacing: 0.3px;
	color: #444343;
	font-weight: 400;
	/* background: var(--gradient-blue);
	background-clip: inherit;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent; */
}
.products-list {
	max-width: 990px;
	justify-content: center;
	margin: 0 auto;
}
.products-item {
	padding: 1rem;
}

.product-card {
	border: 1px solid #2082d8;
	padding: 1rem;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: all 200ms ease-in-out;
	box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
.product-card:hover {
	background: #e4eff934;
	cursor: pointer;
	box-shadow: rgba(37, 39, 89, 0.18) 0px 10px 10px 0;
	scale: 1.02;
}

.product-card__header--tag {
	color: gray;
	text-align: right;
	font-size: 0.875rem;
}
.product-card__title {
	color: #2082d8;
	font-size: 3rem;
	margin: 2rem 0;
	font-weight: 500;
	text-align: center;
}
.product-card__title span {
	color: #61d66d;
}
.product-card__description {
	line-height: 1.7;
	flex-grow: 1;
	margin: 0.5rem 0;
}

@media (max-width: 992px) {
	.product-card__title {
		font-size: 2.3rem;
	}
	.products-list {
		margin: 0 -0.5rem;
	}
	.products-item {
		padding: 0.5rem;
	}
}
@media (max-width: 768px) {
	.product-card__title {
		font-size: 3rem;
		margin: 0.5rem 0;
	}
}
@media (max-width: 362px) {
	.product-card__title {
		font-size: 2.5rem;
	}
}

/*     FOOTER      */

.footer-elsci {
	font-weight: 200;
	line-height: 1;
	padding: 1rem 0;
}
.footer-elsci-row {
	display: flex;
	justify-content: space-between;
}

.footer__item {
	margin: 0.3rem 0;
}
.footer__item:hover {
	text-decoration: underline;
}
.footer__link {
}

.footer-elsci_address p {
	margin: 0.3rem 0;
	font-style: italic;
}
.footer-elsci__section-title {
	font-weight: 400;
}

@media (max-width: 768px) {
	.footer-elsci-row {
		font-size: 1rem;
	}
	.footer-elsci-row p,
	.footer__item {
		margin: 0.75rem 0;
	}
}

@media (max-width: 576px) {
	.footer-elsci-row {
		flex-wrap: wrap;
		flex: 1 1 50%;
	}
	.footer-elsci__social,
	.footer-elsci__contacts {
		flex: 1 1 50%;
		margin-bottom: 1rem;
	}
	.footer-elsci_address {
		flex: 1 1 100%;
	}
}

/*        ABOUT        */
.location, .business-model, .difference {
	padding: 1.5rem 0;
}

.location-row {
}
.about-title {
}
.location-list {
	padding-left: 3rem;
}
.location-list li {
	list-style: circle;
}
.business-model {
}
.business-model-row {
}
.business-model-list {
	justify-content: space-between;
	margin: 0 -1rem;
}
.business-model-item {
	padding: 1rem;
}
.business-model-card {
	border: 1px solid #444343;
	border-radius: 0.25rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 1rem;
	align-items: center;
	justify-content: space-between;
}
.business-model-card__description {
	font-weight: 300;
}
.business-model-card__symbol {
	height: 4rem;
	font-weight: 700;
	font-size: 3rem;
}



