<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>About us</title>
		<link rel="stylesheet" href="../css/styles.css" />
	</head>
	<body>
		<div class="wrapper">
			<%= require('html-loader!./partials/header.html').default %>
			<main data-page="about">
				<div class="container">
					<section class="about">
						<h1 class="page-title">Boosting science</h1>
						
						<ul class="about__list">
							<li class="about__item">
								<div class="job__type">
									<img
										src="img/about/about-sad-scientist.png"
										alt="sad chemist"
										style="width: 270px" />
									<p class="job__info job__info--shrink">
										One commonality that we noticed while working with
										pharmaceutical companies is frustration about software. While
										in theory scientists are people who dedicate their lives to
										pushing humanity forward, in practice they spend most of their
										time working around issues introduced by poorly written
										programs.
									</p>
								</div>
							</li>
							<li class="about__item">
								<div class="job__type">
									<img
										src="img/about/about-scared-it.png"
										alt="frightened programmer"
										style="width: 270px" />
									<p class="job__info job__info--shrink">
										We think that this is a natural consequence of the complexity
										of the field - not many software experts agree to spend years
										studying science in addition to programming. Thus we end up
										with software written by scientists out of frustration or by
										developers who don't really understand what they are doing.
									</p>
								</div>
							</li>
							<li class="about__item">
								<div class="job__type">
									<img
										src="img/about/about-hero.png"
										alt="hero"
										style="width: 270px" />
									<p class="job__info job__info--shrink">
										Well, we are those experts - we are a team of software
										professionals specializing in life sciences. Our mission is
										creating software that makes scientists productive. Software
										that respects your time and understands your problems.
										Software that removes obstacles and lets you concentrate on
										creative aspects of the job.
									</p>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</main>
			<%= require('html-loader!./partials/footer.html').default %>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>
