<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/styles.css" />
		<title>About us</title>
	</head>
	<body>
        <div class="wrapper">
        <%= htmlWebpackPlugin.options.header %>
		<main class="about">
            <section class="location">
                <div class="container">
                    <div class="location-row">
                        <h2 class="about-title">Our location</h2>
                        <p>We are based in Armenia:</p>
                        <ul class="location-list">
                            <li>Arabkir district, Komitas ave, 1st lane, b. 20, Yerevan, Armenia 0051</li>
                            <li>peaksel@elsci.io</li>
                            <li>+374 93 15 12 24</li>
                        </ul>
                        <p>But our team is actually spread across multiple countries and timezones.</p>
                    </div>
                </div>
            </section>
            <section class="business-model">
                <div class="container">
                    <div class="business-model-row">
                        <h2 class="about-title">Our business model</h2>
                    </div>
                    <ul class="business-model-list list-of-three">
                        <li class="business-model-item list-of-three__item">
                            <div class="business-model-card">
                                <h3 class="business-model-card__description">You can buy licenses to the software we`ve already build</h3>
                                <div class="business-model-card__symbol">$</div>
                            </div>
                        </li>
                        <li class="business-model-item list-of-three__item">
                            <div class="business-model-card">
                                <h3 class="business-model-card__description">We create new products with your needs in mind</h3>
                                <div class="business-model-card__symbol">$$</div>
                            </div>
                        </li>
                        <li class="business-model-item list-of-three__item">
                            <div class="business-model-card">
                                <h3 class="business-model-card__description">We create new products with you and share the Intellectual Property</h3>
                                <div class="business-model-card__symbol">$$$</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="difference">
                <div class="container">
                    <div class="difference-row">
                        <h2 class="about-title">What makes us different</h2>
                    </div>
                </div>
            </section>
        </main>
		<%= htmlWebpackPlugin.options.footer %>
        </div>
	</body>
	<script src="js/script.js"></script>
</html>
