<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Our business model</title>
		<link rel="stylesheet" href="../css/styles.css" />
	</head>
	<body>
		<div class="wrapper">
			<%= require('html-loader!./partials/header.html').default %>
			<main data-page="business-model">
				<div class="container">
					<div class="business-model">
						<h1 class="page-title">Build products with us</h1>
						<section class="business-model__section">
							<p>
								We want to create new scientific products with you. If you can't
								find software that fully satisfies your needs, let us know and we'll
								try to help. We're constantly seeking ideas for new products, and we
								realize that the best ones come from the industry experts.
							</p>
							<p>The algorithm:</p>
							<ol class="business-model__list">
								<li>
									You share (<a href="mailto:support@elsci.io">support@elsci.io</a>)
									your problems with us, and we conduct research. The result is a
									proposal on how the problems can be solved.
								</li>
								<li>
									If both sides agree on a common vision, we start a project with
									your funding. Basically, you
									<strong>pay for the licenses</strong> upfront,
									<strong>not for the development</strong>! So if your funding was
									1$ and the license costs 0.25$/year then you'll be able to use the
									software for free for 4 years. If you know other companies willing
									to share the cost with you, that's even better. Note, that in the
									end the IP will be owned by us.
								</li>
								<li>
									During the active phase we have occasional meetings with the
									scientists on your side to ensure our directions are aligned with
									your needs.
								</li>
							</ol>
						</section>
		
						<section class="business-model__section">
							<h2 class="section-title">Why is this better than buying off-the-shelf products?</h2>
							<p>
								You probably noticed that many software packages that claim to solve
								your problems don't do this effectively. Most of the time this
								happens because engineers are disconnected from their users.
								Eventually they may be solving problems that don't actually exist.
							</p>
							<p>
								We think that collaborating with our future users is the key to
								building convenient software that makes you productive. This is why
								our model assumes keeping a close contact with you.
							</p>
						</section>
		
						<section class="business-model__section">
							<h2 class="section-title">Why is this better than in-house projects?</h2>
							<p>
								Starting a project inside the company is a great way to solve
								problems of a small group of people. This helps refining the ideas
								and deepens the understanding of technical challenges. But it
								quickly becomes unrealistic to build a high-quality product once it
								gets outside of a closed circle of advanced users:
							</p>
							<ol class="business-model__list">
								<li>
									It's too expensive to keep evolving products for many years. The
									funding ends before the product fully matures.
								</li>
								<li>
									Writing software assumes a lot of hidden work: creating pretty UI
									compatible with different browsers, handling edge cases,
									constantly improving performance, refactoring, integration with
									3d-party software, supporting different vendors and formats,
									security, usability, etc. This all becomes very important once we
									let the product out to a bigger audience. But most scientists
									quickly get bored and move on to other tasks once they realize
									that 80% of the work they do isn't actually science.
								</li>
							</ol>
							<p>
								And so companies end up with slow, hard-to-use, buggy software. In
								contrast, we at Elsci are committed to building mature products,
								improving and maintaining them for many years. We're ready to go
								extra mile to deliver quality.
							</p>
						</section>
		
						<section class="business-model__section">
							<h2 class="section-title">Why is this better than outsourcing?</h2>
							<p>
								Many companies these days leverage outsourcing when they lack IT
								skills or simply look for cheaper options. But:
							</p>
							<ol class="business-model__list">
								<li>Outsourcing is still a pretty expensive option</li>
								<li>
									Many outsourcing companies do not understand science. So you'll
									have to constantly oversee the development and point them in the
									right direction. This is a lot of additional effort from your
									side.
								</li>
								<li>
									After an outsourced project is done, there's often an awkward
									transition. By the end of it you don't necessarily have full
									knowledge about how to maintain and further develop the project
									yourself.
								</li>
							</ol>
						</section>
		
						<section class="business-model__section">
							<h2 class="section-title">What are your risks with us?</h2>
							<p>
								As usually there is a risk that the product fails to satisfy your
								needs, but:
							</p>
							<ol class="business-model__list">
								<li>
									The odds of the failure are lower than usually since we have a lot
									of experience both in Software Development and Life Sciences
								</li>
								<li>
									The costs are <i>much</i> lower too. We can agree on piecemeal
									payments, this will further lower the risks.
								</li>
							</ol>
						</section>
					</div>
				</div>
			</main>
			<%= require('html-loader!./partials/footer.html').default %>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>

