<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="css/styles.css" />
		<title>Elsci</title>
	</head>
	<body>
		<div class="wrapper">
			<%= require('html-loader!./partials/header.html').default %>
			<main>
				<section class="hero">
					<div class="container">
						<div class="hero-body">
							<h1 class="hero-title">
								Science is
								<span class="word-box" data-id="1"
									><span class="wrong">frustrating</span
									><span class="correct">fun</span></span
								>
								because you
								<span class="word-box" data-id="2"
									><span class="wrong">have</span
									><span class="correct">get</span></span
								>
								to work with
								<span class="word-box" data-id="3"
									><span class="wrong">slow, </span
									><span class="correct">fast </span></span
								>
								<span class="word-box" data-id="4"
									><span class="wrong">rigid, </span
									><span class="correct">flexible </span></span
								>
								<span class="word-box" data-id="5"
									><span class="wrong">inconvenient</span
									><span class="correct">convenient</span></span
								>
								software that makes it
								<span class="word-box" data-id="6"
									><span class="wrong">hard </span
									><span class="correct">easy</span></span
								>
								to keep track of data and
								<span class="word-box" data-id="7"
									><span class="wrong">complicates</span
									><span class="correct">facilitates</span></span
								>
								collaboration.
							</h1>
						</div>
					</div>
				</section>
				<section class="products">
					<div class="container">
						<h2 class="page-title">Our products</h2>
						<ul class="products-list">
							<li class="products-item">
								<a href="../peaksel/index.html">
									<div class="product-card">
										<h3 class="product-card__title">Peak<span>Sel</span></h3>
										<p class="product-card__tag">#analytical chemistry</p>
										<p class="product-card__description">
											Gather data from all your Analytical Instruments, build
											reports, analyze thousands of samples quickly.
										</p>
									</div>
								</a>
							</li>
							<li class="products-item">
								<a>
									<div class="product-card">
										<h3 class="product-card__title">Mol<span>Event</span></h3>
										<p class="product-card__tag">#datamining</p>
										<p class="product-card__description">
											Register virtual compounds, know what`s happening to your
											molecules across teams, projects or whole organization.
										</p>
									</div>
								</a>
							</li>
							<li class="products-item">
								<a>
									<div class="product-card">
										<h3 class="product-card__title">Crysta<span>Line</span></h3>
										<p class="product-card__tag">#crystallography</p>
										<p class="product-card__description">
											Grow, harvest and track crystals. Organize, share, mine
											data.
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</main>
			<%= require('html-loader!./partials/footer.html').default %>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>
