<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/styles.css" />
		<title>Elsci</title>
	</head>
	<body>
		<div class="wrapper">
			<%= htmlWebpackPlugin.options.header %>
			<main>
				<section class="products">
					<div class="container">
						<h2 class="page-title">Our products</h2>
						<ul class="products-list list-of-three list-style-none">
							<li class="products-item list-of-three__item">
								<a href="../peaksel/index.html">
									<div class="product-card">
										<h3 class="product-card__title">Peak<span>Sel</span></h3>
										<p class="product-card__header--tag">#analitical chemistry</p>
										<p class="product-card__description">
											Gather data from all your Analitical Instruments, build
											reports, analyze thousands of samples quickly.
										</p>
									</div>
								</a>
							</li>
							<li class="products-item list-of-three__item">
								<a>
									<div class="product-card">
										<h3 class="product-card__title">Mol<span>Event</span></h3>
										<p class="product-card__header--tag">#datamining</p>
										<p class="product-card__description">
											Register virtual compounds, know what`s happening to your
											molecules across teams, projects or whole organization.
										</p>
									</div>
								</a>
							</li>
							<li class="products-item list-of-three__item">
								<a>
									<div class="product-card">
										<h3 class="product-card__title">Crysta<span>Line</span></h3>
										<p class="product-card__header--tag">#crystallography</p>
										<p class="product-card__description">
											Grow, harvest and track crystals. Organize, share, mine data.
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</section>
			</main>
			<%= htmlWebpackPlugin.options.footer %>
		</div>
		<script src="js/script.js"></script>
	</body>
</html>
